@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-fokontany: oklch(0.391 0.15 224.5);
  --color-fokontany-content: oklch(1 0 0);

  --color-commune: oklch(0.8867 0.185 102.18);
  --color-commune-content: oklch(0.3264 0.185 91.59);

  --color-district: oklch(0.7176 0.185 43.94);
  --color-district-content: oklch(1 0 0);

  --color-region: oklch(0.5786 0.185 143.47);
  --color-region-content: oklch(1 0 0);

  --color-province: oklch(0.531 0.211 17.6);
  --color-province-content: oklch(1 0 0);

  --color-primary: oklch(0.449 0.1238 249.79);
  --color-primary-content: oklch(1 0 0);
}

@layer utilities {
  .btn-province {
    --btn-color: var(--color-province);
    --btn-fg: var(--color-province-content);
  }

  .btn-region {
    --btn-color: var(--color-region);
    --btn-fg: var(--color-region-content);
  }

  .btn-district {
    --btn-color: var(--color-district);
    --btn-fg: var(--color-district-content);
  }

  .btn-commune {
    --btn-color: var(--color-commune);
    --btn-fg: var(--color-commune-content);
  }

  .btn-fokontany {
    --btn-color: var(--color-fokontany);
    --btn-fg: var(--color-fokontany-content);
  }
}

html {
  --sidebar-width: 5rem;
  --base-z-index: 1000;
  --base-drawer-width: 20rem;
}

@media (min-width: 1024px) {
  html {
    --base-drawer-width: 21rem;
  }
}

@media (min-width: 1024px) {
  html {
    --base-drawer-width: 22rem;
  }
}
